
<launch>
  
   <param name="/use_sim_time" value="true" />

   <node name="gazebo" pkg="gazebo_ros" type="gazebo" 
    args="$(find turtlebot_gazebo)/worlds/playground.world" respawn="false" output="screen"/>
             
   <include file="$(find turtlebot_network_gazebo)/launch/one_robot.launch" />
 

</launch>
