
<launch>
  <group ns="robot1">
     <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager"/>
     <node pkg="nodelet" type="nodelet" name="cmd_vel_mux" args="load yocs_cmd_vel_mux/CmdVelMuxNodelet nodelet_manager">
	  <!--remap from="/cmd_vel_mux/output/cmd_vel" to="/cmd_vel" /-->
       <param name="yaml_cfg_file" value="$(find turtlebot_network_gazebo)/config/cmd_vel_mux.yaml"/>
  </node>
  </group>

</launch>
