
<launch>
  
   <param name="/use_sim_time" value="true" />


   <!--node name="gazebo" pkg="gazebo_ros" type="gazebo" 
    args="$(find turtlebot_gazebo)/worlds/playground.world" respawn="false" output="screen"/-->


             
   <include file="$(find turtlebot_network_gazebo)/launch/one_robot2.launch" >
     <arg name="init_pose" value="-x 1 -y 1 -z 0" />
     <arg name="robot_name"  value="robot2" />
   </include>


</launch>
